/* ---------- General ----------------- */
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #ED3A3B;
}

a:hover {
  color: #ED3A3B;
}

.text-primary {
  color: #ED3A3B !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 10;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

u {
  padding-bottom:1px;
  text-decoration:none;
  border-bottom:1px solid #000;
}









/* ---------- NAVBAR ----------------- */


#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #ED3A3B;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Color of 'from data to viz' on the top left */
#mainNav .navbar-brand {
  color: #ED3A3B;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #251667;
}

/* Color of the TEXT of the menu top right*/
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ED3A3B;
  background-color: white;
  border-bottom: 3px solid #ED3A3B;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}







/* ---------- BUTTON ----------------- */
.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  box-shadow: none !important;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: transparent;
  border-color: #ED3A3B;
  color: #ED3A3B;
  border-width: medium;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #ED3A3B !important;
  border-color: #ED3A3B !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0rem rgba(254, 209, 55, 0) !important;
}

.btn-secondary {
  background-color: transparent;
  border-color: #ED3A3B;
  color: #ED3A3B;
  border-width: small;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #ED3A3B !important;
  border-color: #ED3A3B !important;
  color: white;
}

.btn-secondary:active, .btn-secondary:focus {
  background-color: #ED3A3B !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #ED3A3B !important;
  border-color: #ED3A3B !important;
  color: white;
}

::-moz-selection {
  background: #ED3A3B;
  text-shadow: none;
}

::selection {
  background: #ED3A3B;
  text-shadow: none;
}



/* ---------- FOOTER ----------------- */

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}



/* ---------- FORMAT INTRODUCTION ----------------- */
.masthead {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
}


/* ---------- WRITE TEXT IN SEVERAL COLUMNS ----------------- */
.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}
.threeColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}



/* ---------- THIS IS TO CENTER IN A DIV ----------------- */

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
